{% extends 'layout.html.twig' %}
{% block body %}
<div class="flex">
    <div class="card" data-id="1">
        <img id="1" class="hidden" src="https://apod.nasa.gov/apod/image/2006/OrionMountains_Tabbush_960_annotated.jpg" alt="">
    </div>
    <div class="card" data-id="2">
        <img id="2" class="hidden" src="https://apod.nasa.gov/apod/image/2006/VenusFireRing_Lawrence_960.jpg" alt=" ">
    </div>
    <div class="card" data-id="3">
        <img id="3" class="hidden" src="https://apod.nasa.gov/apod/image/2006/catseye2_not_960.jpg" alt=" ">
    </div>
    <div class="card" data-id="4">
        <img id="4" class="hidden" src="https://apod.nasa.gov/apod/image/2006/C2017T2_M81M82_May22_23_2020_DEBartlett1024.jpg" alt=" ">
    </div>
    <div class="card" data-id="5">
        <img id="5" class="hidden" src="https://apod.nasa.gov/apod/image/2006/SHonda_ISS-Dragon-NY-0530_1024.jpg" alt=" ">
    </div>
    <div class="card" data-id="6">
        <img id="6" class="hidden" src="https://apod.nasa.gov/apod/image/2006/N3628_StefanoCancelli_PaulMortfield1024.jpg" alt=" ">
    </div>
    <div class="card" data-id="7">
        <img id="7" class="hidden" src="https://apod.nasa.gov/apod/image/2006/LagoonCenter_HubbleGravinese_960.jpg" alt=" ">
    </div>
    <div class="card" data-id="8">
        <img id="8" class="hidden" src="https://apod.nasa.gov/apod/image/2005/GreenFlashdidacopia2.jpg" alt=" ">
    </div>
    <div class="card" data-id="9">
        <img id="9" class="hidden" src="https://apod.nasa.gov/apod/image/2006/OrionMountains_Tabbush_960_annotated.jpg" alt=" ">
    </div>
    <div class="card" data-id="10">
        <img id="10" class="hidden" src="https://apod.nasa.gov/apod/image/2006/catseye2_not_960.jpg" alt=" ">
    </div>
    <div class="card" data-id="11">
        <img id="11" class="hidden" src="https://apod.nasa.gov/apod/image/2006/VenusFireRing_Lawrence_960.jpg" alt=" ">
    </div>
    <div class="card" data-id="12">
        <img id="12" class="hidden" src="https://apod.nasa.gov/apod/image/2006/C2017T2_M81M82_May22_23_2020_DEBartlett1024.jpg" alt=" ">
    </div>
    <div class="card" data-id="13">
        <img id="13" class="hidden " src="https://apod.nasa.gov/apod/image/2006/N3628_StefanoCancelli_PaulMortfield1024.jpg" alt=" ">
    </div>
    <div class="card" data-id="14">
        <img id="14" class="hidden " src="https://apod.nasa.gov/apod/image/2006/SHonda_ISS-Dragon-NY-0530_1024.jpg" alt=" ">
    </div>
    <div class="card" data-id="15">
        <img id="15" class="hidden " src="https://apod.nasa.gov/apod/image/2006/LagoonCenter_HubbleGravinese_960.jpg" alt=" ">
    </div>
    <div class="card" data-id="16">
        <img id="16" class="hidden" src="https://apod.nasa.gov/apod/image/2005/GreenFlashdidacopia2.jpg" alt=" ">
    </div>

</div>
{% endblock %}
